body {
padding : 0;
margin : 0;
font : 12px Helvetica, sans-serif;
line-height : 1.5em;
background : #FFFFFF;
color : #000;
}


a {
color : #000099;
background : inherit;
text-decoration : none;
}


a:hover {
color : #0000FF;
background : inherit;
text-decoration : none;
}

h1 {
font : bold 1.8em Helvetica, Sans-Serif;
letter-spacing : -1px;
margin-bottom: 0px;
}

h2 {
font : bold 1.5em Helvetica, Sans-Serif;
letter-spacing : -1px;
}

h3 {
padding : 4px 0;
margin : 0;
}

#main {
margin: 10px 10px 10px 10px;
}

#LDITitle {
margin-bottom: 20px;
background : #BBBBAA;
    padding: 3px 10px 10px 10px; 
}

.widget{
background : #DDDDCC;
margin: 10px 10px 10px 10px;
    padding: 3px 10px 10px 10px; 

}

.widget h2 {
background : #BBBBAA;
margin: 4px 0px 0px 0px;
padding: 3px 3px 3px 3px; 
}


#scs_content {
margin-bottom: 20px;
background : #EEEEDD;
}

#scs_content img {
margin-left: 20px;
border: 1px;
}

#props_content {
margin-bottom: 20px;
background : #EEEEDD;
}

#props_content img {
margin-left: 20px;
border: 1px;
}

#props_content h3 {
margin: 3px 3px 3px 10px; 
background : #DDDDCC;
}


#members_content {
margin-bottom: 20px;
padding-right: 20px;
    background : #EEEEDD;
}

#members_content ul {
list-style : none;
padding : 0;
margin : 0;
}

#members_content li {
  font: 1.1em Helvetica, sans-serif;
  margin-bottom: 5px;
  padding-left: 10px;
}

#member_content {
margin-bottom: 20px;
padding-right: 20px;
background : #EEEEDD;
}

#member_content ul {
list-style : none;
padding : 0;
margin : 0;
}

#member_content li {
}

#member_content th {
  background : #DDDDCC;
  text-align: left;
}

#member_content td {
  text-align: left;
}
