@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family Helvetica, "Helvetica Neue", Verdana, Sans;

#header
  background-color black
  color white
  height 5%;
  font-weight bold


  span
    font-size 150%

  a
    color white

#main
   height 100%
   width: 100%
   position fixed
   left 0px
   top 0px 

.title
   margin-top auto
   margin-bottom auto

#leftpanel
   height 95%
   width 30%
   float left
   border 1px black solid

#rightpanel
   height 95%
   width 70%
   float right
   border 1px black solid
   overflow-y scroll

#searchparam
   padding-top: 20px
   padding-left: 20px
   padding-right: 20px
   height 80%
   width 100%
   overflow-y auto

#propdisplay
   margin-top: 20px

#collectioncontrol
   width 100%

.result
   margin-top 20px
   margin-left 20px
   margin-right 20px

.rtitle
   color #aa8888

.snippet
   font-size 80%

.proplabel
   margin-top 10px
   margin-bottom 5px;
   font-weight bold

.propvalue
   margin-left 10px

#collectiontext
   width 100%
   height 10vh

#viewbutton
   width 100%
   height 10vh

#loadingmessage
   z-index 1000
   position fixed
   top 0px
   left 0px
   width 100%
   height 100%
   background rgba(0,0,0,0.6)
   color #fff
   font-size 26px
   text-align center
   padding-top 45vh
   display none

.addtocollectionlink
   font-size 60%
   float right
   text-decoration none
   color white
   background black
   border-radius 10px
   padding-right 10px
   padding-left 10px
   padding-top 3px
   padding-bottom 3px