doctype html
html
  head
      link(rel='stylesheet', href='/css/index.css')
      script(type='text/javascript' src='js/ldi.js')
      script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
      title LDI

body

div#loadingmessage.
   LOADING...

div#main

  div#header
     span.title LDI - #{title} 
     a(href='about') (about) 

  div#leftpanel
     div#searchparam
           div#querydiv
             input#querytext(type="text", name="query", placeholder="keywords", value="#{query}") 
             input(type="submit", onclick="newQuery()")
           div#propdisplay.
                Click on submit above to get results... 
     div#collectioncontrol
           input#collectiontext(type="text", name="collection", placeholder="name your collection here")
           input#viewbutton(type="submit", value="view collection", onclick="")

  div#rightpanel
     div.result.
         click on submit on the left to get results...



