h3.rtitle.
  #[a(href="#{resource}", target="_blank") #{title}] 
  #[a(href="javascript:addToCollection('#{resource}');", class="addtocollectionlink") add to collection] 

p.snippet.
  #{description}


